.section{
  height: 500px;
}
#section{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("https://image.shutterstock.com/image-illustration/online-education-concept-text-place-260nw-1408501676.jpg");
  height: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  position: relative;
}

